/* ================== */
    /* ADD TASK  */
/* ================== */

.add-task {
    flex: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    padding: 32px;
    min-width: 0;
}

/* ================== */
/* ADD TASK HEADER */
/* ================== */

.header {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;


}